*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(/2560x1440_px_cube_Dark_digital_art_Tile-569239.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


h1{
    text-align: center;
    margin: 10px auto;
    text-decoration: underline;
}

form{
    font-size: 20px;
    max-width: 750px;
    margin: 38px auto;
    background-color: rgba(255, 255, 255, 0.123);
    transition: 0.7s;
    border: 2px solid white;
    padding: 20px;
    border-radius: 12px;
}

form:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

fieldset{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

legend{
    font-weight: 500;
    font-size: 20px;
}

label{
    display: block;
}

.textt{
    width: 97%;
    resize: none;
    border-radius: 7px;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    outline: none;
    background-color: rgba(235, 235, 235, 0.781);
}

.textt::-webkit-scrollbar {
    width: 10px;
}

.textt::-webkit-scrollbar-track {
    border-radius: 10px;
}

.textt::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
}

input{
    font-size: 1rem;
    border: none;
    padding: 5px;
    outline: none;
    border-bottom: 3px solid black;
    color: white;
    background-color: transparent;
    width: 40%;
}

.btn{
    margin: auto 45%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.123);
    font-size: 1rem;
    text-align: center;
}
  

@media (max-width:800px) {
    body{
        max-width: 550px;
        margin: auto;
    }

    input{
        width: 240px;
    }

    .btn{
        margin: auto 40%;
    }
}

@media (max-width:550px) {
    body{
        max-width: 300px;
        font-size: 0.5rem;
        /* overflow: hidden; */
    }

    

    form{
        padding: 8px;
        font-size: 0.8rem;
        max-width: 350px;
        /* max-width: fit-content; */
        /* text-align: center; */
        margin: 20px auto;
    }

    legend{
        font-size: 1rem;
    }

    input{
        font-size: 0.8rem;
        width: 200px;
    }

    .textt{
        font-size: 0.8rem;
    }

    .textt{
        width: 94%;
        margin: auto 7px;
        padding: 4px;
    }

    .btn{
        font-size: 0.8rem;
        padding: 6px;
        border-radius: 5px;
    }

    .btn:hover{
        text-decoration: underline;
    }

    .textt::-webkit-scrollbar{
        width: 5px;
    }

    #display{
        width: 300px;
        min-height: 300px;
        max-height: 550px;
    }

    .container #left-side{
        min-height: 300px;
        max-height: 550px;
        width: 100px;
    }

    .container #right-side{
        width: 200px;
        height: 100px;
    }
}


.container{
    margin: 10px auto;
    height: 800px;
    width: 690px;
    background-color: white;
    color: black;
}

#left-side{
    width: 230px;
    height: 800px;
    background: black;
    color: white;
    float: left;
}


#right-side{
    float: right;
    background-color: white;
    width: 460px;
    height: 800px;
}

.data{
    padding: 8px;
    margin: 5px;
}

#display{
    display: none;
}

#left-side p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 10px 0;
}

ul {
    list-style-type: disc; /* This will add the dots (bullets) */
    /* margin-left: 20px; Optional: add some spacing */
}

p{
    margin: 20px;
    padding: 10px;
}

#downloadBtn{
    display: none;
    cursor: pointer;
}

#img{
    border-radius: 50px;
    height: 20px;
    width: 18px;
    text-align: center;
}